/*  */

header nav > ul {
    /* float 의 부모에게 이거 항상 주기 */
    overflow: hidden;
}

header nav > ul > li {
    /* width 일단 제외 - 고정크기 아니라서(content 내용만큼 크기 잡을거라서)*/

    float: left;
}

header nav
, header div.logo {
/* float 해제 */
    clear: both;
}

header {

    position: relative;
    
    /* 자식들의 기준점 되기 위해 */
    height: 160px;
}

header .tnb {
    position: absolute;
    right: 0;
    top: 0;
}

header .bnb {
    position: absolute;
    right: 0;
    bottom: 0;
}

header div.logo {
    position: absolute;
    top: 20px;
    left: 30px;
}