
aside ul > li > a > div {
    /* float 설정 */
    float: left;
}


aside ul > li > a > div:last-child {
    /* float 설정 */
    width: 120px;
    float: left;
    
}

aside ul > li {
    /* float 해제 */
    clear: both;
    
    /* float 부모에 걸기 */
    overflow: hidden;
}
