<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계-순서에 맞춰서</title>
    <!-- [1] 해상도 - 최적해상도 1050px 결정(최대/최소 지원범위 - 테스트 해봐야함) -->
    <!-- [2] content 영역 960px 80vw 90%, 중앙배치할거냐 왼쪽 배치할거냐 -->
    <!-- [2] reset.css 폴더 경로 확정(안에 있는 내용도 검토) -->
    <link href="/css/reset.csss" rel="stylesheet">
 
    <!-- [4] project명 또는 core.css / projectname.css 폴더경로 정하기 - bootstrap, template 등으로 대체 -->
    <!-- [4] 기본색상 10~15개 정도 class 미리 만들어두기-->
    <!-- [4] 폰트 family와 크기 5~7개 정도 calss 미리 만들어두기-->
    <!-- [4] button 모양도 class로 3개 미리 만들어두기-->
    <!-- [4] a 모양 미리 만들어두기 - link/visited 그런것들... -->
    <link href="/css/webpage_core.css" rel="stylesheet">
    <!-- 공통적으로 쓰이는 얘들 여기에 써주기 -->

    <!-- [5] body Layout 영역 - 화면설계서 -->
    <link href="resources/css/webpage_layout.css" rel="stylesheet">


    <!-- head 영역 style -->
    <link href="css/webpage_header.css" rel="stylesheet">


    <!-- section 영역 style -->
    <link href="css/webpage_section.css" rel="stylesheet">


    <!-- aside 영역 style -->
    <link href="css/webpage_aside.css" rel="stylesheet">


    <!-- footer 영역 style -->
    <link href="css/webpage_footer.css" rel="stylesheet">



</head>
<body>
    <div class="wrap">
        <div  class="wrap-header">
            <header>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus volutpat odio a elementum. Donec mollis volutpat sem a placerat. Ut tempor accumsan tristique. Quisque tempus enim id sodales viverra. Integer sollicitudin velit sed ex consequat fringilla. Aenean ullamcorper felis eget libero dignissim bibendum. Duis aliquam lacus velit, vitae pretium velit blandit sed.
            </header>
        </div>

        <div class="wrap-main">
            
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus volutpat odio a elementum. Donec mollis volutpat sem a placerat. Ut tempor accumsan tristique. Quisque tempus enim id sodales viverra. Integer sollicitudin velit sed ex consequat fringilla. Aenean ullamcorper felis eget libero dignissim bibendum. Duis aliquam lacus velit, vitae pretium velit blandit sed.
                </article>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus volutpat odio a elementum. Donec mollis volutpat sem a placerat. Ut tempor accumsan tristique. Quisque tempus enim id sodales viverra. Integer sollicitudin velit sed ex consequat fringilla. Aenean ullamcorper felis eget libero dignissim bibendum. Duis aliquam lacus velit, vitae pretium velit blandit sed.
                </article>
            </section>
            
            <aside>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>    
                </div>
    
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS</div>
                                    <div>2324-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul> 
                </div>
    
            </aside>
        </div>
            </aside>
        </div>

        <div  class="wrap-footer">
            <footer>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus volutpat odio a elementum. Donec mollis volutpat sem a placerat. Ut tempor accumsan tristique. Quisque tempus enim id sodales viverra. Integer sollicitudin velit sed ex consequat fringilla. Aenean ullamcorper felis eget libero dignissim bibendum. Duis aliquam lacus velit, vitae pretium velit blandit sed.
            </footer>
        </div>

    </div>


</body>
</html>