<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계-순서에 맞춰서</title>
    <!-- [1] 해상도 - 최적해상도 1050px 결정(최대/최소 지원범위 - 테스트 해봐야함) -->
    <!-- [2] content 영역 960px 80vw 90%, 중앙배치할거냐 왼쪽 배치할거냐 -->
    <!-- [2] reset.css 폴더 경로 확정(안에 있는 내용도 검토) -->
    <link href="/css/reset.css" rel="stylesheet">
 
    <!-- [4] project명 또는 core.css / projectname.css 폴더경로 정하기 - bootstrap, template 등으로 대체 -->
    <!-- [4] 기본색상 10~15개 정도 class 미리 만들어두기-->
    <!-- [4] 폰트 family와 크기 5~7개 정도 calss 미리 만들어두기-->
    <!-- [4] button 모양도 class로 3개 미리 만들어두기-->
    <!-- [4] a 모양 미리 만들어두기 - link/visited 그런것들... -->
    <link href="/css/webpage_core.css" rel="stylesheet">
    <!-- 공통적으로 쓰이는 얘들 여기에 써주기 -->

    <!-- [5] body Layout 영역 - 화면설계서 -->
    <!-- <link href="/css/webpage_layout.css" rel="stylesheet"> -->


    <!-- head 영역 style -->
    <link href="/css/webpage_header.css" rel="stylesheet">


    <!-- section 영역 style -->
    <link href="/css/webpage_section.css" rel="stylesheet">
    
    
    <!-- aside 영역 style -->
    <link href="/css/webpage_aside.css" rel="stylesheet">
    
    
    <!-- footer 영역 style -->
    <link href="/css/webpage_footer.css" rel="stylesheet">
    
    <style>
 @import url("/css/webpage_layout.css") screen and (min-width:960px);
 @import url("/css/webpage_layout_response.css") screen and (min-width:800px) and (max-width:959px);
 @import url("/css/webpage_layout_min.css") screen and (max-width:800px);

        @media screen and (min-width:1300px) {
            body {
                font-size: 1.1em;
            }

            h1 {
                font-weight: 900;
                font-size: 1.3em;
                line-height: 1.3em;
            }

            h3 {
                font-weight: 900;
                font-size: 1.1em;
                line-height: 1.1em;
            }

            header .tnb a {
                padding: 10px 15px;
            }

            header .bnb a {
                padding: 15px 20px;
            }
        }
        @media screen and (max-width:800px) {
            body {
                font-size: .8em;
            }

            h1 {
                font-weight: 900;
                font-size: 1.1em;
                line-height: 1.3em;
            }

            h3 {
                font-weight: 900;
                font-size: .9em;
                line-height: 1.1em;
            }

            header .tnb a {
                padding: 5px 5px;
            }

            header .bnb a {
                padding: 5px 10px;
            }
            .wrap-header>header {
                /* 중앙 배치 */
                width: 600px; margin: 0 auto;
            }
        }

        /* input:disabled {
            font-size: larger;
        } */

        .mission_a {
            position: relative;
        }

        .mission_a h1 a:hover::after {
            content: 'HTML5! CSS3! 실습입니다';
            font: .7em Helveta sans-serif;
            color : blue;

            position: absolute;
            /*  고정/특정 위치 놓고 싶을 때*/
            /* absolute 줬으니 상위 얘한테 relative 주기 */
            top: 0px;
            left: 0px;
            margin-left: 180px;
        }
        
        article > form > div {
            text-align: center;
            /* 안에 들어있는 content 를 가운데 정렬 */
        }

        article .c-ellipsis {
            border: 1px solid black;
            width: 100px;
            
            /* 세트로 기억하기 */
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
        }

        article .c-clip {
            border: 1px solid black;
            width: 100px;

            /* 세트로 기억하기 */
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
        }

    </style>


</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                <nav class="tnb">
                    <ul>
                        <li><a href="#">Web1</a></li>
                        <li><a href="b">Mobile</a></li>
                        <li><a href="#c">Game</a></li>
                        <li><a href="#d">Simulation</a></li>
                        <li><a href="#e">Data</a></li>
                    </ul>
                </nav>
                <nav class="bnb">
                    <ul>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">jQuery</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>Rint Development</h1>
                    <h3>HTML5 + CSS3 Basic</h3>
                </div>
            </header>
        </div>
        <div class="wrap-main">
            <section>
                <article>
                    <div class="c-ellipsis">
                        asfaslfjsjfkj;skjfkskakflalsdlkf
                    </div>
                    <div class="c-clip">
                        asfaslfjsjfkj;skjfkskakflalsdlkf
                    </div>
                    <div class="mission_a">
                        <h1><a href="#">웹표준 2.0</a> 테스트</h1>
                    </div>
                </article>
                <article>
                    <form method="get" action="#">
                        <div>
                            <input type="color" name="color">
                        </div>
                        <div>
                            <input type="date" name="date">
                        </div>
                        <div>
                            <select name="select" >
                                <!-- drop down 나옴 -->
                                <optgroup label="과일">
                                    <option value="f01">banana</option>
                                    <option value="f02" selected>신선한딸기</option>
                                    <option value="f03">walnut</option>
                                    <!-- 간단하게 전송하려고 value 붙임 - 데이터 베이스 저장 데이터 짧아야 좋아서 -->
                                    <!-- 몇번은 몇번 과일인지 정하고 데이터 간단히 보냄-->
                                    <!-- radio button이랑 비슷 - name 은 같은데 value 는 다름 -->
                                </optgroup>
                                <optgroup label="구황작물">
                                    <option value="f01">banana</option>
                                    <option value="f02">신선한딸기</option>
                                    <option value="f03">walnut</option>
                                </optgroup>
                            </select>
                        </div>
                        <div>
                            <datalist id="datalist"> 
                                <option value="f01" label="aaa">banana</option>
                                <option value="f02">신선한딸기</option>
                                <option value="f03">walnut</option>
                            </datalist>
                            <input type="text" list="datalist" name="n3">
                            <!-- type 에 search도 됨 -->
                        </div>
                        <div>
                            <!-- <input type="submit" value="전달"> -->
                            <button type="button">버튼1</button>
                            <button>아무것도 안적으면 기본값 submit</button>
                        </div>
                        <div>
                            id: <input type="text" name="id" required autofocus>
                            pwd: <input type="password" name="pwd" required>
                            readonly: <input type="text" name="readonly" readonly value="readonly 는 value 필수">
                        </div>
                    </form>
                </article>
                <article class="article-1">
                    <h1>Flexbox</h1>
                    <div class="flex-3 menubar">
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                    </div>
                    <br>
                    <div class="flex-3 inputform">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                    </div>
                </article>
                <article class="article-2">
                    <h1>Grid Layout</h1>
                    <div class="grid-3 basis">
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                    </div>
                    <br>
                    <div class="grid-3">
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <aside>
                <input type="radio" name="n1" id="first" checked="checked">
                <input type="radio" name="n1" id="second" >
                <label for="first">First</label>
                <label for="second">Second</label>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                <div>
                    slide images
                </div>
                <h3>HTML5 + CSS3 Basic</h3>
                <address>Website Layout Basic</address>
            </footer>
        </div>
    </div>
</body>
</html>