<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>화면설계-순서에 맞춰서</title>
        <!-- [1] 해상도 - 최적해상도 1050px 결정(최대/최소 지원범위 - 테스트 해봐야함) -->
        <!-- [2] content 영역 960px 80vw 90%, 중앙배치할거냐 왼쪽 배치할거냐 -->
        <!-- [2] reset.css 폴더 경로 확정(안에 있는 내용도 검토) -->
        <link href="/css/reset.css" rel="stylesheet">
        
        <!-- bootstrap 우선순위 낮추기-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <!-- [4] project명 또는 core.css / projectname.css 폴더경로 정하기 - bootstrap, template 등으로 대체 -->
        <!-- [4] 기본색상 10~15개 정도 class 미리 만들어두기-->
        <!-- [4] 폰트 family와 크기 5~7개 정도 calss 미리 만들어두기-->
        <!-- [4] button 모양도 class로 3개 미리 만들어두기-->
        <!-- [4] a 모양 미리 만들어두기 - link/visited 그런것들... -->
        <link href="/css/webpage_core.css" rel="stylesheet">
        <!-- 공통적으로 쓰이는 얘들 여기에 써주기 -->
        
        <!-- bootstrap 우선순위 낮추기 -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        
        <!-- [5] body Layout 영역 - 화면설계서 -->
        <!-- <link href="/css/webpage_layout.css" rel="stylesheet"> -->
        
        
        <!-- head 영역 style -->
        <link href="/css/webpage_header.css" rel="stylesheet">
        
        
        <!-- section 영역 style -->
        <link href="/css/webpage_section.css" rel="stylesheet">
        
        
        <!-- aside 영역 style -->
        <link href="/css/webpage_aside.css" rel="stylesheet">
        
        
        <!-- footer 영역 style -->
        <link href="/css/webpage_footer.css" rel="stylesheet">
        
        <!-- bootstrap 우선순위 높이고 싶으면 이 위치에 놓고 아니면 rset.css 밑에 넣기 -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
        
        
        <style>
            @import url("/css/webpage_layout.css") screen and (min-width:960px);
            @import url("/css/webpage_layout_response.css") screen and (min-width:800px) and (max-width:959px);
            @import url("/css/webpage_layout_min.css") screen and (max-width:800px);
        
        @media screen and (min-width:1300px) {
            body {
                font-size: 1.1em;
            }
            
            h1 {
                font-weight: 900;
                font-size: 1.3em;
                line-height: 1.3em;
            }
            
            h3 {
                font-weight: 900;
                font-size: 1.1em;
                line-height: 1.1em;
            }
            
            header .tnb a {
                padding: 10px 15px;
            }
            
            header .bnb a {
                padding: 15px 20px;
            }
        }
        @media screen and (max-width:800px) {
            body {
                font-size: .8em;
            }
            
            h1 {
                font-weight: 900;
                font-size: 1.1em;
                line-height: 1.3em;
            }
            
            h3 {
                font-weight: 900;
                font-size: .9em;
                line-height: 1.1em;
            }
            
            header .tnb a {
                padding: 5px 5px;
            }
            
            header .bnb a {
                padding: 5px 10px;
            }
            .wrap-header>header {
                /* 중앙 배치 */
                width: 600px; margin: 0 auto;
            }
        }
        
        /* input:disabled {
            font-size: larger;
        } */
        
        .mission_a {
            position: relative;
        }
        
        .mission_a h1 a:hover::after {
            content: 'HTML5! CSS3! 실습입니다';
            font: .7em Helveta sans-serif;
            color : blue;
            
            position: absolute;
            /*  고정/특정 위치 놓고 싶을 때*/
            /* absolute 줬으니 상위 얘한테 relative 주기 */
            top: 0px;
            left: 0px;
            margin-left: 180px;
        }
        
        article > form > div {
            text-align: center;
            /* 안에 들어있는 content 를 가운데 정렬 */
        }
        
        article .c-ellipsis {
            border: 1px solid black;
            width: 100px;
            
            /* 세트로 기억하기 */
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
        }
        
        article .c-clip {
            border: 1px solid black;
            width: 100px;
            
            /* 세트로 기억하기 */
            text-overflow: clip;
            white-space: nowrap;
            overflow: hidden;
        }

    </style>


</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                <nav class="tnb">
                    <ul>
                        <li><a href="#">Web1</a></li>
                        <li><a href="b">Mobile</a></li>
                        <li><a href="#c">Game</a></li>
                        <li><a href="#d">Simulation</a></li>
                        <li><a href="#e">Data</a></li>
                    </ul>
                </nav>
                <nav class="bnb">
                    <ul>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">jQuery</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>Rint Development</h1>
                    <h3>HTML5 + CSS3 Basic</h3>
                </div>
            </header>
        </div>
        
        <div class="wrap-main">
            <section class="section">
                <article>
                    
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true" ></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item">
                            <img src="https://dummyimage.com/300/ccc/000.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://dummyimage.com/299/ccc/000.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item active">
                            <img src="https://dummyimage.com/298/ccc/000.png" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://dummyimage.com/297/ccc/000.png" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </article>

                <!-- modal 예시 -->
                <article>
                    <div>
                        <h1>모달</h1>
                        <button type="button" class="btn modal">
                            <img alt="aaa" src="">
                            <span>모달</span>
                            <span>띄우기</span>
                        </button>
                        <div class="wrap-modal modal project write">
                            <!-- 뒤에 흐리게 하는 것 -> 윈도우 창을 다 흐리게 하는거기 때문에 크기 100% -->
                            <div class="modal-content modal project write">
                                <!-- modal은 button 으로 무조건 해야함 -->
                                <!-- 진짜 띄우는 modal content 는 이거 -->
                                <!-- 모달창 많으면 각각에 해당하는 곳에 넣어주기. 개수 거의 없으면 layout.css 에 넣기 -->
                                <div class="btn modal-close">x</div>
                                <div>
                                    Lorem!
                                </div>
                                <div>
                                    Lorem!
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="c-ellipsis">
                        asfaslfjsjfkj;skjfkskakflalsdlkf
                    </div>
                    <div class="c-clip">
                        asfaslfjsjfkj;skjfkskakflalsdlkf
                    </div>
                    <div class="mission_a">
                        <h1><a href="#">웹표준 2.0</a> 테스트</h1>
                    </div>
                </article>

                <article>
                    <form method="get" action="#">
                        <div>
                            <input type="color" name="color">
                        </div>
                        <div>
                            <input type="date" name="date">
                        </div>
                        <div>
                            <select name="select" >
                                <!-- drop down 나옴 -->
                                <optgroup label="과일">
                                    <option value="f01">banana</option>
                                    <option value="f02" selected>신선한딸기</option>
                                    <option value="f03">walnut</option>
                                    <!-- 간단하게 전송하려고 value 붙임 - 데이터 베이스 저장 데이터 짧아야 좋아서 -->
                                    <!-- 몇번은 몇번 과일인지 정하고 데이터 간단히 보냄-->
                                    <!-- radio button이랑 비슷 - name 은 같은데 value 는 다름 -->
                                </optgroup>
                                <optgroup label="구황작물">
                                    <option value="f01">banana</option>
                                    <option value="f02">신선한딸기</option>
                                    <option value="f03">walnut</option>
                                </optgroup>
                            </select>
                        </div>
                        <div>
                            <datalist id="datalist"> 
                                <option value="f01" label="aaa">banana</option>
                                <option value="f02">신선한딸기</option>
                                <option value="f03">walnut</option>
                            </datalist>
                            <input type="text" list="datalist" name="n3">
                            <!-- type 에 search도 됨 -->
                        </div>
                        <div>
                            <!-- <input type="submit" value="전달"> -->
                            <button type="button" class="btn btn-success">버튼1</button>
                            <button>아무것도 안적으면 기본값 submit</button>
                        </div>
                        <div>
                            id: <input type="text" name="id" required autofocus>
                            pwd: <input type="password" name="pwd" required>
                            readonly: <input type="text" name="readonly" readonly value="readonly 는 value 필수">
                        </div>
                    </form>
                </article>
                <article class="article-1">
                    <h1>Flexbox</h1>
                    <div class="flex-3 menubar">
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                    </div>
                    <br>
                    <div class="flex-3 inputform">
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                            ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                            dignissimos neque exercitationem?
                        </div>
                    </div>
                </article>
                <article class="article-2">
                    <h1>Grid Layout</h1>
                    <div class="grid-3 basis">
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                        <div>
                            Lorem!
                        </div>
                    </div>
                    <br>
                    <div class="grid-3">
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex-card-item">
                                <div>
                                    <img class="fullsizeimg" src="https://dummyimage.com/500x700/ccc/000.png" >
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                        <img src="https://dummyimage.com/15/ccc/000.png">
                                    </div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더 콜리</a>
                                </div>
                                <div>
                                    남아 · 중성화 미완료 · 3살
                                </div>
                                <div>
                                    지역 : 광주광역시 북구
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <script>
                $(loadHandler);
                function loadHandler(){
                    $(".btn.modal").on("click", btnModalClickHandler);
                    $(".btn.modal-close").on("click", btnMOdalCloseClickHandler);
                    $(".wrap-modal").on("click", btnMOdalCloseClickHandler);
                }

                function btnModalClickHandler(){
                    //console.log(e);
                    console.log(event);
                    // window 객체 안의 event 가 있는데 그것을 의미함
                    console.log(event.target);
                    
                    console.log(this);
                    $(".section .wrap-modal").css("display", "block");
                }

                function btnMOdalCloseClickHandler( e ) {
                    //() 안은 callback 함수로 () 를 보내줌
                    
                    console.log(e.target); 
                    console.log(event.target); 
                    // click 했을 때 나에게 제일 가까운 태그 뜸
                    console.log(this); //항상 wrap-modal이 뜸
                    console.log(document.getElementsbyClassName("wrap=modal")[0]);
                    console.log($(".section .wrap-modal").get(0));
                    //DOM
                    if(
                        (event.target == $(".section .wrap=modal").get(0))
                        // 바깥쪽 닫히게 하는 것

                    || (event.target == $(".btn.modal-close").get(0))
                                    
                    ){
                        //wrap-modal 이 클릭됐다는 것을 의미
                        $(".section .wrap-modal").css("display", "none");

                    }
                }

            </script>





            <aside>
                <input type="radio" name="n1" id="first" checked="checked">
                <input type="radio" name="n1" id="second" >
                <label for="first">First</label>
                <label for="second">Second</label>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>HTML5 </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45x45 dummy image"></div>
                                <div>
                                    <div>CSS </div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                <div>
                    slide images
                </div>
                <h3>HTML5 + CSS3 Basic</h3>
                <address>Website Layout Basic</address>
            </footer>
        </div>
    </div>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->


</body>
</html>