<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/reset.css" rel="stylesheet">
    <!-- reset.css 필수로 걸고 하기 = layout 의 00번 스텝 -->
    <link href="../css/mydiv.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <header>
            <h1>제목: 회사명, 로고, 로그인</h1>
        </header>
        <div class="wrap-nav">
            <nav>
                <!-- nav 는 header, aside, footer 넣음 -->
                <ul>
                    <li>메뉴 1</li>
                    <li>메뉴 1</li>
                    <li>메뉴 1</li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales ipsum at posuere ultrices. Ut at consectetur ante, vel elementum ante. Quisque eu consectetur est. Phasellus hendrerit bibendum pellentesque. Nullam sollicitudin efficitur fermentum. Phasellus non felis nec nibh sollicitudin imperdiet ac sit amet ligula. Nulla turpis metus, eleifend vitae dignissim eu, lacinia vestibulum ligula. Morbi fermentum pellentesque dui, in blandit leo dictum semper. Suspendisse erat mauris, tristique non quam id, interdum efficitur lorem. Aenean eget sapien volutpat, ultricies diam eget, volutpat dolor.

                </article>
                
                <article>
                   
                Curabitur a tincidunt lectus. Curabitur ac orci nunc. Proin semper tincidunt mauris, eu rutrum urna placerat quis. Pellentesque vulputate eros et diam luctus mollis. In vitae libero quis ante efficitur interdum. Aliquam ornare vehicula ipsum, a tincidunt ligula gravida sed. Donec ultrices, neque in ultrices ullamcorper, urna est tincidunt felis, eget luctus est ipsum nec elit. Donec ut porttitor quam. Nunc ut dolor egestas, interdum tellus a, elementum arcu. Fusce in nisi et leo pretium placerat. Donec ut felis varius, rhoncus odio ut, viverra libero. Aenean tempor hendrerit nunc, ut efficitur magna ultrices commodo.

                </article>
                
                <article>
                
                Integer suscipit libero ligula, sed lobortis dolor consequat sed. Nam dictum eros vitae dapibus pharetra. Curabitur commodo dolor neque, ut ultrices mi tempor ut. Donec in nunc iaculis mauris commodo elementum. Maecenas mollis porttitor nisl, non gravida leo efficitur nec. Maecenas et dui sapien. Vestibulum et iaculis neque, vel consequat ipsum. Duis lobortis orci egestas tellus dapibus, vitae semper quam aliquet. Suspendisse sagittis gravida neque, ut blandit quam mattis nec.
                
                </article>

            </section>

            <aside>
                <div>
                    광고, 최근 본 상품, 바로가기 링크
                </div>
                    <nav>
                        <!-- nav 는 header, aside, footer 넣음 -->
                        <ul>
                            <li>메뉴 1</li>
                            <li>메뉴 1</li>
                            <li>메뉴 1</li>
                        </ul>
                    </nav>
            </aside>
             

        <footer>
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
                <nav>
                    <!-- nav 는 header, aside, footer 넣음 -->
                    <ul>
                        <li>메뉴 1</li>
                        <li>메뉴 1</li>
                        <li>메뉴 1</li>
                    </ul>
                </nav>
            </footer>
      </div>

</body>
</html>